@use 'sass:math';

@function getShadows($n) {
    $shadows: '#{random(100)}vw #{random(100)}vh #fff';
    @for $i from 2 through $n {
        $shadows: '#{$shadows}, #{random(100)}vw #{random(100)}vh #fff';
    }
    @return unquote($shadows); 
}

$duration: 1000s;
$count: 1000;
@for $i from 1 through 6 {
    $duration: math.floor($duration / 2);
    $count: math.floor($count / 2);
    .layer#{$i} {
        position: fixed;
        $size: #{$i}px;
        width: $size;
        height: $size;
        border-radius: 50%;
        box-shadow: getShadows($count);
        animation: moveup $duration linear infinite;
        &::after {
            content: '';
            position: fixed;
            width: inherit;
            height: inherit;
            left: 0;
            top: 100vh;
            border-radius: inherit;
            box-shadow: inherit;
        }
    }
}

@keyframes moveup {
    to {
        transform: translateY(-100vh);
    }
}
